{% extends 'content_base.html.twig' %}

{% block title %}
Edit user!
{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block content_body %}

    {{ form_start(userForm, {
        'attr': {'class': 'form-signin'}
    }) }}
    {{ form_widget(userForm) }}
    <button type="submit" class="btn btn-primary">Update</button>
    <a class="btn btn-secondary float-right" href="{{ path('app_form_users') }}">Cancel</a>
    {{ form_end(userForm) }}
{% endblock %}


